<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198027966125-b1r91nk1scbpj0letm4fju3ovfh9qnnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198027966125-b1r91nk1scbpj0letm4fju3ovfh9qnnu</string>
	<key>API_KEY</key>
	<string>AIzaSyBIBTWnAig0oQ9rTIhIfdt_e_eAX90_WpI</string>
	<key>GCM_SENDER_ID</key>
	<string>198027966125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobabyte.test</string>
	<key>PROJECT_ID</key>
	<string>deneme-978db</string>
	<key>STORAGE_BUCKET</key>
	<string>deneme-978db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198027966125:ios:a1e02e8359faccd72a3824</string>
	<key>DATABASE_URL</key>
	<string>https://deneme-978db.firebaseio.com</string>
</dict>
</plist>